Body {
	margin: 0px;
	padding: 0px;
	background-color: white;
	font-family: 'Crimson Text', serif;
	color: #333;
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #1765FF;
}

a:hover {
	text-decoration: underline;
}

.column {
	width: calc(100% - 100px);
	max-width: 550px;
	margin: 0 auto;
	padding: 0px 50px;
}

.headshot {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 30px;
}

.name {
	font-size: 40px;
	font-weight: 600;
	display: flex;
	justify-content: center;
	padding-bottom: 8px;

}

.subname {
	font-weight: 600;
	font-style: italic;
	display: flex;
	justify-content: center;
	color: #7f7f7f;
	margin-bottom: 60px;
}

.subtitle {
	font-size: 26px;
	font-weight: 600;
	padding: 10px 0px;
}

.water {
	width: 100%;
	height: auto;
	position: absolute;
	z-index: -1;
}

.sig {
	width: 200px;
	height: auto;
	padding-top: 40px;
}

.signame {
	font-style: italic;
	color: #7f7f7f;
	margin-bottom: 100px;
}


.box {
	border-top: 1px solid #C4C4C4;
	border-bottom: 1px solid #C4C4C4;
	background-color: #F9FBFF;
	padding: 30px 40px;
	margin: 40px 0px;
	font-size: 26px;
	text-align: center;
	font-weight: 600;
}


.butt {
	padding: 10px 38px;
	background-color: #558FFF;
	color: white;
	font-weight: 600;
	text-align: center;
	text-align: center;
	border-radius: 8px;
	transition: .6s;
	font-size: 20px;
	width: auto;
	display: inline-block;

}


.divider {
	width: 100%;
	height: 1px;
	background-color: #c5c5c5;
	margin: 40px 0px;
}

.butt:hover {
	filter: brightness(1.1);
	transition: .2s;
	cursor: pointer;
}

.footer {
	width: 100%;
	height: 8px;
	background-color: #558FFF;
}


@media only screen and (max-width: 500px) {

.column {
	width: calc(100% - 50px);
	max-width: 550px;
	margin: 0 auto;
	padding: 0px 25px;
}


}

